.app-header {
  background-color: $black;
  height: 15rem;
  padding: 2rem;
  color: white;
  text-align: center;
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin: 0 2rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
}