html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 4rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}