.picker-container {
  input[type=text] {
    float: left;
    width: 70%;
    padding: 2rem;
    margin: 0 0 2rem;
    border: 1px solid $borderColor;
    font-size: 1.6rem;
    &:focus,
    &:active {
      outline: 0;
      border: 1px solid $black;
    }
  }
  button {
    float: right;
    width: 30%;
    padding: 2rem;
    background-color: $black;
    color: $white;
    border-width: 0;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    font-size: 1.6rem;
    transition: all 0.5s;
    &:hover,
    &:focus,
    &:active {
      border-color: #666;
      background-color: #666;
    }
    &:focus,
    &:active {
      outline: 0;
    }
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    padding: 1.5rem 1rem;
    &:nth-child(odd) {
      background-color: #EFEFEF;
    }
  }
  .form-row {

  }
  .mana-cost {
    float: right;
  }
}