.picker-table {
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    padding: 1.5rem 1rem;
    &:nth-child(odd) {
      background-color: #EFEFEF;
    }
  }
  .mana-cost {
    float: right;
  }
  .mana-symbol {
    float: left;
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.6rem;
    border: 1px solid $grey;
    background-color: #DDD;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6rem;
    border-radius: 50%;
  }
  .mana-symbol-white {
    background-color: white;
  }
  .mana-symbol-red {
    background-color: red;
  }
  .mana-symbol-black {
    background-color: black;
  }
  .mana-symbol-green {
    background-color: green;
  }
  .mana-symbol-blue {
    background-color: blue;
  }
}

.picker-form {
  position: relative;
  margin: 0 0 2rem;
  input[type=text] {
    float: left;
    width: 70%;
    padding: 2rem;
    border: 1px solid $borderColor;
    font-size: 1.6rem;
    &:focus,
    &:active {
      outline: 0;
      border: 1px solid $black;
    }
  }
  button {
    float: right;
    width: 30%;
    padding: 2rem;
    background-color: $black;
    color: $white;
    border-width: 0;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    font-size: 1.6rem;
    transition: all 0.5s;
    &:hover,
    &:focus,
    &:active {
      border-color: #666;
      background-color: #666;
    }
    &:focus,
    &:active {
      outline: 0;
    }
    &[disabled] {
      border-color: $grey;
      background-color: $grey;
    }
  }
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    &.is-open {
      border: 1px solid black;
      border-top-width: 0;
    }
    a {
      display: block;
      width: 100%;
      padding: 1.5rem 1rem;
      background-color: $white;
      border-bottom: 1px solid $grey;
      &:last-child{
        border-bottom-width: 0;
      }
    }
  }
}