@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Libre+Baskerville');

@import 'sass/variables';
@import 'sass/layout';

body {
  font-family: 'Libre Baskerville', serif;  
  font-size: 1.6rem;
}

h1, h2, h3, h4 {
  font-family: 'Cinzel', serif;
}

p, li {
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin: 0 2rem;
  }
  a {
    color: white;
  }
}
